 /* start global rules  */
 :root{
    --main-color:#19c8fa;
    --transpernt-color:rgb(15 116 143 / 70%);
    --section-padding:100px;
    --text-color:#777;
 }
 * {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 html {
    scroll-behavior: smooth;
 }
 body {
   font-family: 'Open Sans', sans-serif;
 }
ul {
    list-style: none;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
@media only screen and (min-width:768px){    
    .container {
        width: 750px;
    }
}
@media only screen and (min-width:992px){    
    .container {
        width: 970px;
    }
}
@media only screen and (min-width:1200px){    
    .container {
        width: 1170px;
    }
}
/* end global rules  */
/* start components */
   .main-heading {
      text-align: center;
   }
   .main-heading h2 {
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: -2px;
      position: relative;
      margin-bottom: 70px;
   }
   .main-heading h2::before {
      content: '';
      position: absolute;
      width: 125px;
      height: 2px;
      background: black;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
   }
   .main-heading h2::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      border: 1px solid black;
      border-radius: 50%;
      left: 50%;
      bottom: -22px;
      transform: translateX(-50%);
      background-color: white;
   }
   .main-heading p {
      width: 500px;
      max-width: 100%;
      margin: 0 auto 80px;
      line-height: 1.7;
      color: var(--text-color);
   }
/* end componants */
/* start header  */
 header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
 }
 header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: relative;
 }
 header .container::after {
    background-color: white;
    content: '';
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 15px;
}   
 header  a img {
    height: 75px;
 }
 header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
 }
 header nav .menu-list {
    color: white;
    font-size: 20px;
 }
 @media  (min-width:768px){
    header nav .menu-list{
        display: none;  
    }
 }  
 header nav ul {
    display: flex;
    z-index: 1;
   
 }
 @media  (max-width:767px){
    header nav ul {
        display: none;  
    }
 }
 @media  (max-width:767px){
    header nav .menu-list:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);  
    }
    header nav .menu-list:hover + ul a {
        padding: 20px;
    }
 }
 header nav ul a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 15px;
    padding: 35px 15px;
    transition: 0.3s;
 }
 @media  (min-width:768px) and (max-width:991px) {
    header nav ul a {
        padding: 35px 10px;
    }
 }
 header nav ul a.active,
 header nav ul a:hover {
      color: var(--main-color);
      border-bottom: 1px solid var(--main-color) ;
 }
 header nav .form {
      color: white;
      padding: 10px;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 1px solid white;
 }
/* end header  */
/* start landing */ 
   .landing {
      background-image: url(../image/landing.jpg);
      background-size: cover;
      height: 100vh;
      position: relative;
   }
   .landing .container {
      width: 1170px;
   }
   .landing .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
   }
   .landing .text {
      position: absolute;
      left: 0;
      top: 50%;
      width: 50%;
      transform: translateY(-50%);
      background-color: var(--transpernt-color);
      color: white;
      padding: 50px; 
      display: flex;
      justify-content: flex-end;     
   }
   .landing .text .contant {
      max-width: 500px;
      padding-left: 60px;
      }
      @media  (max-width:767px) {
         .landing .text {
            width: 100%;
         }
         .landing .text .contant {
         max-width: 100%;
         padding: 0 20px;
         }
      }
      .landing .text h2 {
         font-size: 30px;
         font-weight: normal;
         margin-bottom: 20px;
   }
   .landing .text p {
      line-height: 1.8;
      font-size: 14px;
   }
   .landing .change-background {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
      color: white;
   }
   .landing .fa-angle-left {
      margin-left: 30px;
      left: 0;
   }
   .landing .fa-angle-right {
      right: 0;
      margin-right: 30px;
   }
   .landing .bullets {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-60%);
      margin-bottom: 30px;
   }
   .landing .bullets li {
      width: 12px;
      height: 12px;
      border: 1px solid white;
      border-radius: 50%;
      margin-left: 20px;
   }
   .landing .bullets .active {
      background-color: var(--main-color);
      border-color: var(--main-color);
   } 
   /* end landing */
   /* start service */
   .service {
      padding: var(--section-padding) 0 ; 
   }
   @media (min-width:768px) {
      .service .service-container {
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(450px , 1fr) );
      gap: 60px 40px;
      }
   }
   .service .serv-contant {
      display: flex;
   }
   .service .contant {
      margin-bottom: 40px;
   }
   .service .serv-contant i {
      margin-right: 40px;
   }
   @media (max-width:767px){
      .service .serv-contant {
         display: flex;
         flex-direction: column;
         text-align: center;
      }
      .service .contant {
         margin-bottom: 40px;
      }
      .service .serv-contant i {
         margin: 0 auto 20px;
      }
   }
   .service .serv-contant h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 25px;
      color: var(--main-color);
   }
   .service .serv-contant p {
      line-height: 1.7;
      color: var(--text-color);
   }
 /* end service */
 /* start design */
   .design {
      padding: var(--section-padding) 0;
      height: 600px;
      position: relative;  
      background-image: url(../image/design.jpg);
      background-size: cover;
      display: flex; 
      align-items: center;
      overflow: hidden;
   }
   .design::after {
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      width: 100%;
      height: 100%;
   }
   .design .image,
   .design .text {
      position: relative;
      z-index: 2;
      flex: 1;
   }
   .design .image {
      top:150px;
      text-align: center;
   }
   @media (max-width:767px) {
      .design .image {
         display: none;
      }
      .design .text {
         max-width: 100%;
      }
   }
   .design .text {
      color: white;
      background-color: var(--transpernt-color);
      padding: 50px;
   }
   .design .text h3 {
      font-weight: normal;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 20px;
   }
   .design .text ul li {
      padding: 15px 0;
   }
   .design .text ul li::before {
      font-family: "Font Awesome 6 Free";
      content: "\e163";
      font-weight: 900;
      margin-right: 20px;
      position: relative;
      top: 2.5px;
   }
 /* end design */
 /* start portfolio */
   .portfolio {
      padding: var(--section-padding) 0;
   }
   .portfolio ul {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      text-transform: capitalize;
   }
   .portfolio ul li {
      margin: 10px;
      padding: 10px;
   }
   .portfolio ul li a {
      text-decoration: none;
      color: inherit;
   }
   .portfolio ul .active {
      background-color: var(--main-color);
      color: white;
   }
   .portfolio .project-contant {
      display: flex; 
      flex-wrap: wrap;
   }
   .portfolio  .project {
      transition: 0.3s;
      position: relative;
      overflow: hidden;
   }
   .portfolio  .project img {
      max-width: 100%;
      transition: 0.3s;
   }
   @media (min-width:768px) {
      .portfolio  .project  {
         flex-basis: 50%;
      }
   }
   @media (min-width:1200px) {
      .portfolio  .project  {
         flex-basis: 25%;
      }
   }
   .portfolio .text {
      padding: 20px 10px;
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -335px;
      background-color: white;
      width: 100%;
      transition: 0.3s;
   }
   .portfolio .project:hover .text {
      bottom: 0;
   }
   .portfolio .project:hover img {
      transform: rotate(3deg) scale(1.1);
   } 
   .portfolio .text h4 {
      font-weight: normal;
      padding-bottom: 10px;
   }
   .portfolio .text p {
      color: var(--main-color);
   }
   .portfolio .more {
      display: block;
      background: var(--main-color);
      padding: 10px 20px;
      margin: 30px;
      text-align: center;
      TEXT-DECORATION: none;
      color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-100%);
      text-transform: uppercase;
   }
 /* end portfolio */
/* start vedio */
   .video { 
      position: relative;
      margin-top: var(--section-padding) ;
   }
   .video::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
   }
   .video video {
      width: 100%;
   }
   .video .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--transpernt-color);
      width: 100%;
      text-align: center;
      padding: 40px;
      line-height: 2 ;
   }
   .video .text h3 {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 25px;
      color: white;
   }
   .video .text p {
      text-transform: capitalize;
      font-size: 18px;
      color: white;
   }
   .video .text button {
      padding: 10px;
      margin-top: 10px;
      background-color: black;
      color: white;
      text-transform: uppercase;
   }
/* end vedio */
/* start about */
   .about {
      padding-top: var(--section-padding) ;
      overflow: hidden;
   }
   .about  img {
      max-width: 90%;
      display: block;
      margin: 0 auto;
   }
/* end about */
/* start statistics */
   .statistics {
   padding-bottom: var(--section-padding);
   }
   .statistics .box {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      position: relative;
      z-index: 1;
   }
   .statistics .box::before {
      content: '';
      height: calc(100% + 200px);
      width: calc(100% + 200px);
      background-image: url(../image/stats.png);
      background-size: cover;
      position: absolute;
      left: -100px;
      top: -100px;
      z-index: -1;
   }
   .statistics .box::after {
      content: '';
      height: calc(100% + 200px);
      width: calc(100% + 200px);
      position: absolute;
      left: -100px;
      top: -100px;
      background-color: rgb(0 0 0 / 70%);
      z-index: -1;
   }

   @media (max-width:767px) {
      .statistics .box::before {
         height: calc(100% + 100px);
         width: calc(100% + 100px);
         top:-50px
      }
      .statistics .box::after {
         height: calc(100% + 100px);
         width: calc(100% + 100px);
         top:-50px
      }
   }
   .statistics .data {
      flex-basis: 100%;
      background-color: var(--transpernt-color);
      padding: 50px 0;
      flex-wrap: wrap;
      margin: 10px;
   }
   @media (min-width:768px) {
      .statistics .data {
         flex-basis: 50%;
         margin: 0;
      }
      .statistics .box {
         margin: 0 100px;
      }
   }
   @media (min-width:1200px) {
      .statistics .box .data {
         flex-basis: 25%;
         margin: 0;
      }
      .statistics .box {
         margin: 0 100px;
      }
   }
   .statistics .box .data i {
      font-size: 30px;
      padding: 15px;
      border: 1px solid black;
      border-radius: 50%;
      background-color: black;
      color: white;
   }
   .statistics .box .data .number {
      font-size: 40px;
      font-weight: 500;
      padding: 30px;
      color: white;
   }
   .statistics .box .data p {
      color: white;
   }
/* end statistics */
/* start testimonials */
   .skills {
      padding: var(--section-padding) 0;
   }
   .skills .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .skills .testimonials {
      text-align: center;   
      flex-basis: 45%; 
   }
   @media (max-width:1199px) {
      .skills .testimonials { 
         flex-basis: 100%; 
         margin-bottom: 40px;
      }
   }
   .skills .testimonials h3 {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 40px;
   } 
   .skills .testimonials .caption {
      margin-bottom:50px;
      line-height: 1.8;
      color: var(--text-color);
   }
   .skills .testimonials .box {
      display: flex;
      margin-bottom: 30px;
      align-items: center;
   }
   @media (max-width:767px) {
      .skills .testimonials .box {
         flex-direction: column;
      }
   }
   .skills .box img {
      height: 100px;
      border-radius: 50%;
      margin-right: 40px;
   }
   .skills .box .text {
      text-align: left;
      padding: 20px;
      line-height: 1.8;
      position: relative;
   }
   .skills .box .text::after {
      content: '';
      position: absolute;
      width: calc(100% - 30px);
      bottom: 0;
      left: 15px;
      height: 1px;
      background-color: var(--text-color);
   }
   .skills .box .text  p {
      text-align: right;
      text-transform: capitalize;
      color: var(--text-color);
   }
   .skills .testimonials ul {
      display: flex; 
      justify-content: center;
      margin: 50px 0;
   }
   .skills .testimonials ul li {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid black;
      margin: 0 10px;
   }
   .skills .testimonials ul .active {
      background-color: var(--main-color);
      border-color: var(--main-color);
   }
/* end testimonials */
/* start skills */
   .skills .our-skills {
      text-align: center;   
      flex-basis: 45%; 
   }
   @media (max-width:1199px) {
      .skills .testimonials { 
         flex-basis: 100%; 
      }
      .skills .our-skills {
         flex-basis: 100%; 
      }
   }
   .skills .our-skills h3 {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 40px;
   } 
   .skills .our-skills .caption {
      margin-bottom:50px;
      line-height: 1.8;
      color: var(--text-color);
   }
   .skills .our-skills .prog-holder {
      margin-bottom: 40px;
   }
   .skills .prog-holder h4 {
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
   }
   .skills .prog-holder .prog {
      width: 100%;
      margin: 20px 0;
      height: 30px;
      background-color: var(--text-color);
   }
   .skills .prog-holder .prog span{
      display: block;
      height: 100%;
      background-color: var(--main-color);
      position: relative;
      animation: 2s prog linear;
      animation-play-state: running;
   }
   @keyframes prog {
      from {
         width: 0%;
      }
      50% {
         width:50% ;
      }
   }
   .skills .prog-holder .prog span::before {
      content: '';
      position: absolute;
      border: 10px solid;
      border-color: black transparent transparent;
      top: -10px;
      right: -10px;

   }
   .skills .prog-holder .prog span::after {
      content:attr(data-progress);
      position: absolute;
      top:-35px;
      right: -18px;
      padding: 4px ;
      background-color: black;
      color: white;
      border-radius: 5px;
   }

/* end skills */
/* start quote */
   .quote {
      padding: var(--section-padding) 0;
      background-image: url(../image/design.jpg);
      background-size: cover;
      color: white;
      position: relative;
      text-align: center;
   }
   .quote::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6);
   }
   .quote q {
      display: block;
      font-size: 30px;
      margin-bottom: 20px;
      text-transform: capitalize;
   }
   .quote .container {
      position: relative;
   }
   .quote q::after{
      content: '\f10e';
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 12PX;
      vertical-align: text-top;
   }
   .quote q::before{
      content: '\f10d';
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 12PX;
      vertical-align: text-top;
   }
/* end quote */
/* strat price  */
   .price {
      padding: var(--section-padding) 0;
   }
   .price .price-category {
      display: grid;
      grid-template-columns: repeat(auto-fill , minmax(250px ,1fr));
      gap: 30px; 
   }
   .price .price-category .category{
      border: 1px solid;
      border-color: var(--main-color) transparent transparent;
      background-color: #fcfcfc;
   }
   .price .category .head {
      padding: 40px 20px;
      border: 1px solid;
      text-align: center;
      border-color: transparent transparent var(--main-color);
   }
   .price .category .head .price-tit {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: var(--text-color);
   }
   .price .category .head h3 {
      font-size: 60px;
      font-weight: 500;
   }
   .price .category .head h3::before {
      content: '$';
      font-size: 20px;
      vertical-align: top;
   }
   .price .category .head h3::after {
      content: '/Mo';
      font-size: 20px;
      
   }
   .price .category ul {
      text-align: -webkit-center;
   }
   .price .category ul li {
      padding: 20px;
      font-size: 20px;
      position: relative;
  
   } 
   .price .category ul li::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      width: calc(100% - 40px) ;
      height: 1px;
      background-color: var(--main-color);
   }
   .price .category .footer {
      padding: 20px;
      margin: 40px auto;
      border: 1px solid var(--main-color);
      text-align: center;
      display: block;
      width: fit-content;
      text-decoration: none;
      color: initial;
      transition: 0.3s;
   }
   .price .category .footer:hover {
      background-color: var(--main-color);
      color: white;
   }
   .price .container .contact {
      text-align: center;
      padding: 20px;
      margin-top: 20px;
      text-transform: capitalize;
   }
   .price .contact a {
      display: block;
      padding: 20px 20px;
      margin: 30px auto 0;
      background-color: var(--main-color);
      color: white;
      width: fit-content;
      text-decoration: none;
      transition: 0.3s;
   }
   .price .contact a:hover {
      background-color: var(--text-color);
      color: white;
   }
/* end price  */
/* start subscribe */
.subscribe {
   background-image: url(../image/subscribe.jpg);
   background-size: cover;
   padding: var(--section-padding) 0;
   color: white;
   position: relative;
}
.subscribe::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.65);
}
.subscribe .container {
   position: relative;
   display: flex;
   z-index: 1;
   text-align: center;
}
.subscribe .container form {
   display: flex;
   position: relative;
}
@media (max-width:991px) {
   .subscribe .container {
      flex-direction: column;
      align-items: center
   }
   .subscribe .container form {
      margin-bottom: 30px;
   }
}
.subscribe .container input[type='email'] {
background-color: transparent;
padding: 20px 10px 20px 60px;
border: 1px solid white;
color: white;
border-right: none;
text-transform: capitalize;
}
.subscribe form input[type='submit'] {
   padding: 20px;
   border: 1px solid white;
   border-left: none;
   background-color: var(--main-color);
   color: white;
   transition: 0.3s;
   text-transform: uppercase;
}
   .subscribe form input[type='submit']:hover {
      background-color: var(--text-color);
   }
   .subscribe form input[type='submit']:focus,
   .subscribe .container input[type='email']:focus {
      outline: none;
   }
.subscribe form i {
   font-size: 20px;
   position: absolute;
   top: 50%;   
   left: 20px  ;
   transform: translateY(-50%);
}
.subscribe .container p {
   margin-left: 30px;
   line-height: 1.8  ;
   text-transform: capitalize;
}
/* end subscribe */
/* start contact us */
.contact-us {
   padding: var(--section-padding) 0 ;
}
.contact-us .container .box {
   display: flex;
   justify-content: space-evenly
}
.contact-us .box .information {
   flex-basis: 70%;
   position: relative;
}
.contact-us .box .information input:not(:last-child),
.contact-us .box .information textarea {
   width: 100%;
   display: block;
   margin-bottom: 20px;
   padding: 15px;
   border: 1px solid #c9c9c9;
   text-transform: capitalize;

}
.contact-us .box .information input:not(:last-child):focus,
.contact-us .box .information textarea:focus {
   outline: none;
}
.contact-us .box .information input[type='submit'] {
   padding: 10px 20px;
   background-color: var(--main-color);
   color: white;
   text-transform: uppercase;
   display: flex;
   border: none;
   margin-left: auto;
}
@media (max-width:767px) {
   .contact-us .container .box {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column-reverse;
   }
   .contact-us .box .examples {
      margin: auto;
  }
}
.contact-us .box .examples  {
   flex-basis: 20%;
}
.contact-us .box .example {
   margin-bottom: 50px;
   font-style: italic;
}
.contact-us .examples .title {
   margin-bottom: 20px;
   text-transform: uppercase;
}
.contact-us .examples .EXaddress {
   color: var(--text-color);
   line-height: 1.8;
   text-transform: capitalize;
}
/* end contact us */
/* start footer */
.page-footer {
   padding: calc( var(--section-padding) / 2 ) 0;
   background-image: url(../image/footer.jpg);
   background-size: cover;
   text-align: center   ;
   position: relative;
   color: white;
}
.page-footer::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
}
.page-footer .container {
   position: relative;
   z-index: 1;
}
.page-footer .container img {
   width: 100px;
   margin-bottom:30px ;
}
.page-footer .container .social p {
   text-transform: uppercase;
   margin-bottom:30px ;
} 
.page-footer .container .social hr {
   width: 200px;
   max-width: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin-bottom: 30px;
}
.page-footer .container .social i {
   margin: 0 10px 30px;
}
.page-footer .container p span {
   font-weight: bold;
   color: var(--main-color);

}
/* end footer */